/* =================== blok 1 ====================== */
div.obiekty1 {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    gap: 20px;
}

div.obiekty1 div {
    width: 44px;
    height: 44px;
    background-color: red;
    border: double 6px red;
    background-clip: padding-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.objectAnim1_1:nth-child(2) {
    background-color: yellow;
    border: double 6px yellow;
}

div.objectAnim1_1:nth-child(3) {
    background-color: lawngreen;
    border: double 6px lawngreen;
}

div.objectAnim1_1:nth-child(4) {
    background-color: blue;
    border: double 6px blue;
}
/* ========= animacja 1 ========= */
.animacja1 div.objectAnim1_1:nth-child(1) {
    animation: anim1_1_1 3s infinite;
    animation-play-state: paused;
}
@keyframes anim1_1_1 { 
    0%   {left:0px; top:0px;}
    25%  {left:64px; top:0px; rotate: 90deg;}
    50%  {left:64px; top:64px; rotate: 180deg;}
    75%  {left:0px; top:64px; rotate: 270deg;}
    100% {left:0px; top:0px; rotate: 360deg;}
}

.animacja1 div.objectAnim1_1:nth-child(2) {
    animation: anim1_1_2 3s infinite;
    animation-play-state: paused;
}
@keyframes anim1_1_2 {
    0%   {right:0px; top:0px; }
    25%  {right:0px; top:64px; rotate: 90deg;}
    50%  {right:64px; top:64px; rotate: 180deg;}
    75%  {right:64px; top:0px; rotate: 270deg;}
    100% {right:0px; top:0px; rotate: 360deg;}
}

.animacja1 div.objectAnim1_1:nth-child(3) {
    animation: anim1_1_3 3s infinite;
    animation-play-state: paused;
}
@keyframes anim1_1_3 {
    0%   {left:0px; bottom:0px;}
    25%  {left:0px; bottom:64px; rotate: 90deg;}
    50%  {left:64px; bottom:64px; rotate: 180deg;}
    75%  {left:64px; bottom:0px; rotate: 270deg;}
    100% {left:0px; bottom:0px; rotate: 360deg;}
}

.animacja1 div.objectAnim1_1:nth-child(4) {
    animation: anim1_1_4 3s infinite;
    animation-play-state: paused;
}
@keyframes anim1_1_4 {
    0%   {right:0px; bottom:0px;}
    25%  {right:64px; bottom:0px; rotate: 90deg;}
    50%  {right:64px; bottom:64px; rotate: 180deg;}
    75%  {right:0px; bottom:64px; rotate: 270deg;}
    100% {right:0px; bottom:0px; rotate: 360deg;}
}
/* ========= animacja 2 ========= */
/* .animacja1 div.objectAnim1_1:nth-child(1) {
    animation: anim1_2_1 3s infinite linear;
    animation-play-state: paused;
} */
@keyframes anim1_2_1 { 
    0%   {left:0px; top:0px; scale: 1; z-index: 4;}
    13%  {left:32px; top:32px; scale: 1.5; z-index: 4;}
    25%  {left:64px; top:64px; scale: 1; z-index: 4;}
    37%  {left:64px; top:64px; scale: 1; z-index: 1;}
    50%  {left:64px; top:64px; scale: 1; z-index: 1;}
    62%  {left:32px; top:32px; scale: 0.5; z-index: 1;}
    75%  {left:0px; top:0px; scale: 1; z-index: 1;}
    87%  {left:0px; top:0px; scale: 1; z-index: 1;}
    100% {left:0px; top:0px; scale: 1; z-index: 1;}
}

/* .animacja1 div.objectAnim1_1:nth-child(2) {
    animation: anim1_2_2 3s infinite linear;
    animation-play-state: paused;
} */
@keyframes anim1_2_2 {
    0%   {right:0px; top:0px; scale: 1; z-index: 1;}
    13%  {right:0px; top:0px; scale: 1; z-index: 1;}
    25%  {right:0px; top:0px; scale: 1; z-index: 4;}
    37%  {right:32px; top:32px; scale: 1.5; z-index: 4;}
    50%  {right:64px; top:64px; scale: 1; z-index: 4;}
    62%  {right:64px; top:64px; scale: 1; z-index: 1;}
    75%  {right:64px; top:64px; scale: 1; z-index: 1;}
    87%  {right:32px; top:32px; scale: 0.5; z-index: 1;}
    100% {right:0px; top:0px; scale: 1; z-index: 1;}
}

/* .animacja1 div.objectAnim1_1:nth-child(3) {
    animation: anim1_2_3 3s infinite linear;
    animation-play-state: paused;
} */
@keyframes anim1_2_3 {
    0%   {left:0px; bottom:0px; scale: 1; z-index: 1;}
    13%  {left:0px; bottom:0px; scale: 1; z-index: 1;}
    25%  {left:0px; bottom:0px; scale: 1; z-index: 1;}
    37%  {left:32px; bottom:32px; scale: 0.5; z-index: 1;}
    50%  {left:64px; bottom:64px; scale: 1; z-index: 1;}
    62%  {left:64px; bottom:64px; scale: 1; z-index: 1;}
    75%  {left:64px; bottom:64px; scale: 1; z-index: 4;}
    87%  {left:32px; bottom:32px; scale: 1.5; z-index: 4;}
    100% {left:0px; bottom:0px; scale: 1; z-index: 4;}
}

/* .animacja1 div.objectAnim1_1:nth-child(4) {
    animation: anim1_2_4 3s infinite linear;
    animation-play-state: paused;
} */
@keyframes anim1_2_4 {
    0%   {right:0px; bottom:0px; scale: 1; z-index: 1;}
    13%  {right:32px; bottom:32px; scale: 0.5; z-index: 1;}
    25%  {right:64px; bottom:64px; scale: 1; z-index: 1;}
    37%  {right:64px; bottom:64px; scale: 1; z-index: 1;}
    50%  {right:64px; bottom:64px; scale: 1; z-index: 1;}
    62%  {right:32px; bottom:32px; scale: 1.5; z-index: 4;}
    75%  {right:0px; bottom:0px; scale: 1; z-index: 4;}
    87%  {right:0px; bottom:0px; scale: 1; z-index: 1;}
    100% {right:0px; bottom:0px; scale: 1; z-index: 1;}
}
/* ========= animacja 3 ========= */
@keyframes anim1_3_1 {
    0%   {left:0px; top:0px;}
    25%  {left:64px; top:0px; rotate: 180deg;}
    50%  {left:64px; top:64px; rotate: 360deg;}
    75%  {left:0px; top:64px; rotate: 540deg;}
    100% {left:0px; top:0px; rotate: 720deg;}
}

@keyframes anim1_3_2 {
    0%   {right:0px; top:0px; }
    25%  {right:0px; top:64px; rotate: -180deg;}
    50%  {right:64px; top:64px; rotate: -360deg;}
    75%  {right:64px; top:0px; rotate: -540deg;}
    100% {right:0px; top:0px; rotate: -720deg;}
}

@keyframes anim1_3_3 {
    0%   {left:0px; bottom:0px;}
    25%  {left:0px; bottom:64px; rotate: -180deg;}
    50%  {left:64px; bottom:64px; rotate: -360deg;}
    75%  {left:64px; bottom:0px; rotate: -540deg;}
    100% {left:0px; bottom:0px; rotate: -720deg;}
}

@keyframes anim1_3_4 {
    0%   {right:0px; bottom:0px;}
    25%  {right:64px; bottom:0px; rotate: 180deg;}
    50%  {right:64px; bottom:64px; rotate: 360deg;}
    75%  {right:0px; bottom:64px; rotate: 540deg;}
    100% {right:0px; bottom:0px; rotate: 720deg;}
}

/* =================== blok 2 ====================== */
div.obiekty2 {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

div.obiekty2 div {
    width: 100px;
    height: 100px;
    border: 12px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ========= animacja 1 ========= */
div.animacja2 div:nth-child(1) {
    background: conic-gradient(yellow 0deg, yellow 45deg,
                transparent 45deg, transparent 180deg) border-box;
    animation: anim2_1_1 3s infinite linear;
    animation-play-state: paused;
    z-index: 4;
}

div.animacja2 div:nth-child(2) {
    background: conic-gradient(red 0deg, red 60deg,
                transparent 60deg, transparent 180deg) border-box;
    animation: anim2_1_2 5s infinite linear;
    animation-play-state: paused;
    z-index: 3;
}

div.animacja2 div:nth-child(3) {
    background: conic-gradient(blue 0deg, blue 75deg,
                transparent 75deg, transparent 180deg) border-box;
    animation: anim2_1_3 6s infinite linear;
    animation-play-state: paused;
    z-index: 2;
}

div.animacja2 div:nth-child(4) {
    background: conic-gradient(lawngreen 0deg, lawngreen 100deg,
                transparent 100deg, transparent 180deg) border-box;
    animation: anim2_1_4 8s infinite linear;
    animation-play-state: paused;
    z-index: 1;
}

div.animacja2 div:nth-child(5) {
    background: linear-gradient(to top right, #777, #aaa) padding-box,
    conic-gradient(transparent 0deg, transparent 180deg) border-box;
    animation: anim2_1_5 8s infinite linear;
    animation-play-state: paused;
    z-index: 5;
}

@keyframes anim2_1_1 {
    0% {transform: translate(-50%, -50%) rotate(360deg);} 
    100% {transform: translate(-50%, -50%) rotate(-360deg);} 
}

@keyframes anim2_1_2 {
    0% {transform: translate(-50%, -50%) rotate(-360deg);} 
    100% {transform: translate(-50%, -50%) rotate(360deg);} 
}

@keyframes anim2_1_3 {
    0% {transform: translate(-50%, -50%) rotate(360deg);} 
    75% {transform: translate(-50%, -50%) rotate(-180deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}

@keyframes anim2_1_4 {
    0% {transform: translate(-50%, -50%) rotate(-360deg);} 
    100% {transform: translate(-50%, -50%) rotate(360deg);} 
}

@keyframes anim2_1_5 {
    0% {transform: translate(-50%, -50%) rotate(-360deg);} 
    100% {transform: translate(-50%, -50%) rotate(360deg);} 
}
/* ========= animacja 2 ========= */
@keyframes anim2_2_1 {
    0% {transform: translate(-50%, -50%) rotate(360deg);}
    5% {transform: translate(-50%, -50%) rotate(360deg);}
    100% {transform: translate(-50%, -50%) rotate(-360deg);} 
}

@keyframes anim2_2_2 {
    0% {transform: translate(-50%, -50%) rotate(360deg);}
    15% {transform: translate(-50%, -50%) rotate(360deg);} 
    100% {transform: translate(-50%, -50%) rotate(-360deg);} 
}

@keyframes anim2_2_3 {
    0% {transform: translate(-50%, -50%) rotate(360deg);}
    25% {transform: translate(-50%, -50%) rotate(360deg);} 
    100% {transform: translate(-50%, -50%) rotate(-360deg);}
}

@keyframes anim2_2_4 {
    0% {transform: translate(-50%, -50%) rotate(360deg);}
    35% {transform: translate(-50%, -50%) rotate(360deg);} 
    100% {transform: translate(-50%, -50%) rotate(-360deg);} 
}

@keyframes anim2_2_5 {
    0% {transform: translate(-50%, -50%) rotate(0deg);} 
    100% {transform: translate(-50%, -50%) rotate(0deg);} 
}
/* ========= animacja 3 ========= */
@keyframes anim2_3_1 {
    0% {transform: translate(-50%, -50%) rotate(315deg);}
    100% {transform: translate(-50%, -50%) rotate(-405deg);} 
}

@keyframes anim2_3_2 {
    0% {transform: translate(-50%, -50%) rotate(255deg);}
    100% {transform: translate(-50%, -50%) rotate(-465deg);} 
}

@keyframes anim2_3_3 {
    0% {transform: translate(-50%, -50%) rotate(180deg);}
    100% {transform: translate(-50%, -50%) rotate(-540deg);}
}

@keyframes anim2_3_4 {
    0% {transform: translate(-50%, -50%) rotate(80deg);}
    100% {transform: translate(-50%, -50%) rotate(-640deg);} 
}

@keyframes anim2_3_5 {
    0% {transform: translate(-50%, -50%) rotate(0deg);} 
    100% {transform: translate(-50%, -50%) rotate(0deg);} 
}

/* =================== blok 3 ====================== */
div.obiekty3 {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

div.obiekty3 div {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}
/* ========= animacja 1 ========= */
div.animacja3 div:nth-child(1) {
    transform: rotate(270deg) translate(50px) rotate(-270deg);
    animation: anim3_1_1 2s infinite linear;
    animation-play-state: paused;
}

div.animacja3 div:nth-child(2) {
    transform: rotate(315deg) translate(50px) rotate(-315deg);
    animation: anim3_1_2 2s infinite linear;
    animation-play-state: paused;
}
div.animacja3 div:nth-child(3) {
    transform: rotate(0deg) translate(50px) rotate(0deg);
    animation: anim3_1_3 2s infinite linear;
    animation-play-state: paused;
}
div.animacja3 div:nth-child(4) {
    transform: rotate(45deg) translate(50px) rotate(-45deg);
    animation: anim3_1_4 2s infinite linear;
    animation-play-state: paused;
}
div.animacja3 div:nth-child(5) {
    transform: rotate(90deg) translate(50px) rotate(-90deg);
    animation: anim3_1_5 2s infinite linear;
    animation-play-state: paused;
}
div.animacja3 div:nth-child(6) {
    transform: rotate(135deg) translate(50px) rotate(-135deg);
    animation: anim3_1_6 2s infinite linear;
    animation-play-state: paused;
}
div.animacja3 div:nth-child(7) {
    transform: rotate(180deg) translate(50px) rotate(-180deg);
    animation: anim3_1_7 2s infinite linear;
    animation-play-state: paused;
}
div.animacja3 div:nth-child(8) {
    transform: rotate(225deg) translate(50px) rotate(-225deg);
    animation: anim3_1_8 2s infinite linear;
    animation-play-state: paused;
}

@keyframes anim3_1_1 {
    0% {background-color: white; border: 2px solid white;} 
    6.25% {background-color: black; border: 2px solid black;}
    12.5% {background-color: white; border: 2px solid white;} 
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_1_2 {
    0% {background-color: white; border: 2px solid white;}
    12.5% {background-color: white; border: 2px solid white;}  
    18.75% {background-color: black; border: 2px solid black;}
    25% {background-color: white; border: 2px solid white;} 
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_1_3 {
    0% {background-color: white; border: 2px solid white;}
    25% {background-color: white; border: 2px solid white;} 
    31.25% {background-color: black; border: 2px solid black;}
    37.5% {background-color: white; border: 2px solid white;} 
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_1_4 {
    0% {background-color: white; border: 2px solid white;} 
    37.5% {background-color: white; border: 2px solid white;} 
    43.75% {background-color: black; border: 2px solid black;}
    50% {background-color: white; border: 2px solid white;} 
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_1_5 {
    0% {background-color: white; border: 2px solid white;} 
    50% {background-color: white; border: 2px solid white;} 
    56.25% {background-color: black; border: 2px solid black;}
    62.5% {background-color: white; border: 2px solid white;} 
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_1_6 {
    0% {background-color: white; border: 2px solid white;} 
    62.5% {background-color: white; border: 2px solid white;} 
    68.25% {background-color: black; border: 2px solid black;}
    75% {background-color: white; border: 2px solid white;} 
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_1_7 {
    0% {background-color: white; border: 2px solid white;} 
    75% {background-color: white; border: 2px solid white;} 
    81.25% {background-color: black; border: 2px solid black;}
    87.5% {background-color: white; border: 2px solid white;} 
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_1_8 {
    0% {background-color: white; border: 2px solid white;} 
    87.5% {background-color: white; border: 2px solid white;} 
    93.75% {background-color: black; border: 2px solid black;}
    100% {background-color: white; border: 2px solid white;} 
}
/* ========= animacja 2 ========= */
@keyframes anim3_2_1 {
    0% {transform: rotate(270deg) translate(50px) rotate(-270deg);}
    5% {transform: rotate(270deg) translate(55px) rotate(-270deg);}
    45% {transform: rotate(270deg) translate(75px) rotate(-270deg);}
    50% {transform: rotate(270deg) translate(75px) rotate(-270deg);}
    55% {transform: rotate(270deg) translate(75px) rotate(-270deg);}
    95% {transform: rotate(270deg) translate(55px) rotate(-270deg);}
    100% {transform: rotate(270deg) translate(50px) rotate(-270deg);} 
}
@keyframes anim3_2_2 {
    0% {transform: rotate(315deg) translate(50px) rotate(-315deg);}
    5% {transform: rotate(315deg) translate(55px) rotate(-315deg);}
    45% {transform: rotate(315deg) translate(75px) rotate(-315deg);}
    50% {transform: rotate(315deg) translate(75px) rotate(-315deg);}
    55% {transform: rotate(315deg) translate(75px) rotate(-315deg);}
    95% {transform: rotate(315deg) translate(55px) rotate(-315deg);}
    100% {transform: rotate(315deg) translate(50px) rotate(-315deg);} 
}
@keyframes anim3_2_3 {
    0% {transform: rotate(0deg) translate(50px) rotate(0deg);}
    5% {transform: rotate(0deg) translate(55px) rotate(0deg);}
    45% {transform: rotate(0deg) translate(75px) rotate(0deg);}
    50% {transform: rotate(0deg) translate(75px) rotate(0deg);}
    55% {transform: rotate(0deg) translate(75px) rotate(0deg);}
    95% {transform: rotate(0deg) translate(55px) rotate(0deg);}
    100% {transform: rotate(0deg) translate(50px) rotate(0deg);} 
}
@keyframes anim3_2_4 {
    0% {transform: rotate(45deg) translate(50px) rotate(-45deg);}
    5% {transform: rotate(45deg) translate(55px) rotate(-45deg);}
    45% {transform: rotate(45deg) translate(75px) rotate(-45deg);}
    50% {transform: rotate(45deg) translate(75px) rotate(-45deg);}
    55% {transform: rotate(45deg) translate(75px) rotate(-45deg);}
    95% {transform: rotate(45deg) translate(55px) rotate(-45deg);}
    100% {transform: rotate(45deg) translate(50px) rotate(-45deg);} 
}
@keyframes anim3_2_5 {
    0% {transform: rotate(90deg) translate(50px) rotate(-90deg);}
    5% {transform: rotate(90deg) translate(55px) rotate(-90deg);}
    45% {transform: rotate(90deg) translate(75px) rotate(-90deg);}
    50% {transform: rotate(90deg) translate(75px) rotate(-90deg);}
    55% {transform: rotate(90deg) translate(75px) rotate(-90deg);}
    95% {transform: rotate(90deg) translate(55px) rotate(-90deg);}
    100% {transform: rotate(90deg) translate(50px) rotate(-90deg);} 
}
@keyframes anim3_2_6 {
    0% {transform: rotate(135deg) translate(50px) rotate(-135deg);}
    5% {transform: rotate(135deg) translate(55px) rotate(-135deg);}
    45% {transform: rotate(135deg) translate(75px) rotate(-135deg);}
    50% {transform: rotate(135deg) translate(75px) rotate(-135deg);}
    55% {transform: rotate(135deg) translate(75px) rotate(-135deg);}
    95% {transform: rotate(135deg) translate(55px) rotate(-135deg);}
    100% {transform: rotate(135deg) translate(50px) rotate(-135deg);} 
}
@keyframes anim3_2_7 {
    0% {transform: rotate(180deg) translate(50px) rotate(-180deg);}
    5% {transform: rotate(180deg) translate(55px) rotate(-180deg);}
    45% {transform: rotate(180deg) translate(75px) rotate(-180deg);}
    50% {transform: rotate(180deg) translate(75px) rotate(-180deg);}
    55% {transform: rotate(180deg) translate(75px) rotate(-180deg);}
    95% {transform: rotate(180deg) translate(55px) rotate(-180deg);}
    100% {transform: rotate(180deg) translate(50px) rotate(-180deg);} 
}
@keyframes anim3_2_8 {
    0% {transform: rotate(225deg) translate(50px) rotate(-225deg);}
    5% {transform: rotate(225deg) translate(55px) rotate(-225deg);}
    45% {transform: rotate(225deg) translate(75px) rotate(-225deg);}
    50% {transform: rotate(225deg) translate(75px) rotate(-225deg);}
    55% {transform: rotate(225deg) translate(75px) rotate(-225deg);}
    95% {transform: rotate(225deg) translate(55px) rotate(-225deg);}
    100% {transform: rotate(225deg) translate(50px) rotate(-225deg);} 
}
/* ========= animacja 3 ========= */
/* @keyframes anim3_3_1 {
    0% {background-color: white; border: 2px solid white;} 
    6.25% {background-color: white; border: 2px solid white;}
    12.5% {background-color: white; border: 2px solid white;}
    87.5% {background-color: black; border: 2px solid black;} 
    93.75% {background-color: black; border: 2px solid black;} 
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_3_2 {
    0% {background-color: black; border: 2px solid black;}
    12.5% {background-color: white; border: 2px solid white;}  
    18.75% {background-color: white; border: 2px solid white;}
    25% {background-color: white; border: 2px solid white;} 
    100% {background-color: black; border: 2px solid black;} 
}
@keyframes anim3_3_3 {
    0% {background-color: black; border: 2px solid black;}
    25% {background-color: white; border: 2px solid white;} 
    31.25% {background-color: white; border: 2px solid white;}
    37.5% {background-color: white; border: 2px solid white;} 
    100% {background-color: black; border: 2px solid black;} 
}
@keyframes anim3_3_4 {
    0% {background-color: black; border: 2px solid black;} 
    37.5% {background-color: white; border: 2px solid white;} 
    43.75% {background-color: white; border: 2px solid white;}
    50% {background-color: white; border: 2px solid white;} 
    100% {background-color: black; border: 2px solid black;} 
}
@keyframes anim3_3_5 {
    0% {background-color: black; border: 2px solid black;} 
    50% {background-color: white; border: 2px solid white;} 
    56.25% {background-color: white; border: 2px solid white;}
    62.5% {background-color: white; border: 2px solid white;} 
    100% {background-color: black; border: 2px solid black;} 
}
@keyframes anim3_3_6 {
    0% {background-color: black; border: 2px solid black;} 
    62.5% {background-color: white; border: 2px solid white;} 
    68.25% {background-color: white; border: 2px solid white;}
    75% {background-color: white; border: 2px solid white;} 
    100% {background-color: black; border: 2px solid black;} 
}
@keyframes anim3_3_7 {
    0% {background-color: black; border: 2px solid black;} 
    75% {background-color: white; border: 2px solid white;} 
    81.25% {background-color: white; border: 2px solid white;}
    87.5% {background-color: white; border: 2px solid white;} 
    100% {background-color: black; border: 2px solid black;} 
}
@keyframes anim3_3_8 {
    0% {background-color: white; border: 2px solid white;}
    6.25% {background-color: black; border: 2px solid black;}
    87.5% {background-color: white; border: 2px solid white;} 
    93.75% {background-color: white; border: 2px solid white;}
    100% {background-color: white; border: 2px solid white;} 
} */
@keyframes anim3_3_1 {
    0% {background-color: white; border: 2px solid white;} 
    12.5% {background-color: white; border: 2px solid white;
    transform: rotate(270deg) translate(50px) rotate(-270deg);}
    25% {background-color: black; border: 2px solid black;
    transform: rotate(270deg) translate(0px) rotate(-270deg);}
    37.5% {background-color: white; border: 2px solid white;
    transform: rotate(270deg) translate(50px) rotate(-270deg);}
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_3_2 {
    0% {background-color: white; border: 2px solid white;}
    62.5% {background-color: white; border: 2px solid white;
    transform: rotate(315deg) translate(50px) rotate(-315deg);}
    75% {background-color: black; border: 2px solid black;
    transform: rotate(315deg) translate(0px) rotate(-315deg);}
    87.5% {background-color: white; border: 2px solid white;
    transform: rotate(315deg) translate(50px) rotate(-315deg);}
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_3_3 {
    0% {background-color: white; border: 2px solid white;} 
    12.5% {background-color: white; border: 2px solid white;
    transform: rotate(0deg) translate(50px) rotate(0deg);}
    25% {background-color: black; border: 2px solid black;
    transform: rotate(0deg) translate(0px) rotate(0deg);}
    37.5% {background-color: white; border: 2px solid white;
    transform: rotate(0deg) translate(50px) rotate(0deg);}
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_3_4 {
    0% {background-color: white; border: 2px solid white;}
    62.5% {background-color: white; border: 2px solid white;
    transform: rotate(45deg) translate(50px) rotate(-45deg);}
    75% {background-color: black; border: 2px solid black;
    transform: rotate(45deg) translate(0px) rotate(-45deg);}
    87.5% {background-color: white; border: 2px solid white;
    transform: rotate(45deg) translate(50px) rotate(-45deg);}
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_3_5 {
    0% {background-color: white; border: 2px solid white;} 
    12.5% {background-color: white; border: 2px solid white;
    transform: rotate(90deg) translate(50px) rotate(-90deg);}
    25% {background-color: black; border: 2px solid black;
    transform: rotate(90deg) translate(0px) rotate(-90deg);}
    37.5% {background-color: white; border: 2px solid white;
    transform: rotate(90deg) translate(50px) rotate(-90deg);}
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_3_6 {
    0% {background-color: white; border: 2px solid white;}
    62.5% {background-color: white; border: 2px solid white;
    transform: rotate(135deg) translate(50px) rotate(-135deg);}
    75% {background-color: black; border: 2px solid black;
    transform: rotate(135deg) translate(0px) rotate(-135deg);}
    87.5% {background-color: white; border: 2px solid white;
    transform: rotate(135deg) translate(50px) rotate(-135deg);}
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_3_7 {
    0% {background-color: white; border: 2px solid white;} 
    12.5% {background-color: white; border: 2px solid white;
    transform: rotate(180deg) translate(50px) rotate(-180deg);}
    25% {background-color: black; border: 2px solid black;
    transform: rotate(180deg) translate(0px) rotate(-180deg);}
    37.5% {background-color: white; border: 2px solid white;
    transform: rotate(180deg) translate(50px) rotate(-180deg);}
    100% {background-color: white; border: 2px solid white;} 
}
@keyframes anim3_3_8 {
    0% {background-color: white; border: 2px solid white;}
    62.5% {background-color: white; border: 2px solid white;
    transform: rotate(225deg) translate(50px) rotate(-225deg);}
    75% {background-color: black; border: 2px solid black;
    transform: rotate(225deg) translate(0px) rotate(-225deg);}
    87.5% {background-color: white; border: 2px solid white;
    transform: rotate(225deg) translate(50px) rotate(-225deg);}
    100% {background-color: white; border: 2px solid white;} 
}
/* @keyframes anim3_3_8 {
    0% {background-color: white; border: 2px solid white;
    transform: rotate(0deg) translate(50px) rotate(-225deg);}
    62.5% {background-color: white; border: 2px solid white;
    transform: rotate(225deg) translate(50px) rotate(-225deg);}
    75% {background-color: black; border: 2px solid black;
    transform: rotate(270deg) translate(0px) rotate(-225deg);}
    87.5% {background-color: white; border: 2px solid white;
    transform: rotate(315deg) translate(50px) rotate(-225deg);}
    100% {background-color: white; border: 2px solid white;
    transform: rotate(360deg) translate(50px) rotate(-225deg);} 
} */
/* ========= animacja 4 ========= */