* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma;
}

header {
    padding: 4em;
    color: white;
    background: linear-gradient(to right, #2727aa, #3d3dff, #2727aa);
    height: 15vh;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 4px black;
    -webkit-user-select: text;
    user-select: text;
}

div.space {
    background-color: black;
    height: 1em;
}

footer {
    padding: 3em;
    color: white;
    background: linear-gradient(to right, #2727aa, #3d3dff, #2727aa);
    margin: 0;
    height: 10vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    align-items: center;
}

div.stopka img {
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 50%;
    background: radial-gradient(closest-corner at 50% 55%,
    transparent 20px, #3d3dff 10px);
    transition: 0.5s;
}

div.stopka img:hover {
    background: radial-gradient(closest-corner at 50% 55%,
    black 20px, #3d3dff 10px);
    box-shadow: 0 0 20px 5px black;
}
/* glowne ustawienia ^ */

section {
    background: linear-gradient(to top right, #6e6e6e, #e0e0e0, #6e6e6e);
    padding: 1.5em;
}

div.aplikacja {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7em;
}

div.blok {
    height: 40vh;
    min-height: 300px;
    background: linear-gradient(to top left, #b0b0b0, #888);
    border: 2px solid gray;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s box-shadow;
}

div.animacja_blok {
    height: 80%;
    width: 95%;
    margin: 0.5em 1em;
    background: linear-gradient(to top right, #555, #777);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.options {
    margin-bottom: 4px;
}

div.options button {
    border: 2px solid gray;
    background: linear-gradient(to right, #888, #aaa);
    border-radius: 4px;
    padding-top: 4px;
    width: 48px;
    height: 36px;
    cursor: pointer;
}

div.options img {
    width: 24px;
    height: 24px;
}

.prev img {
    transform: rotate(180deg);
}

p.animacja_numer {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

@media screen and (max-width: 1000px) {
    div.aplikacja {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    div.aplikacja {
        grid-template-columns: auto;
    }
}

div.blok:hover {
    box-shadow: 0px 0px 2px 3px;
}

div.options button:hover {
    background: linear-gradient(to bottom right, #888, #aaa);
}

div.options button:active {
    background: linear-gradient(to bottom right, #777, #999);
}
